.sectOne{
    background-image: url(./moving\ 1.png);
    background-size: cover;
    background-position: center center;
    height: 80vh;
}
.sectOne > nav > ul > li{
    display: inline;
    font-size: 20;
    padding: 30;
}
a{
    color: white;
    text-decoration: none;
}

.sectOne > nav > ul > li > .first{
    background-color:  #FAFF01;
    border: none;
}
 .sectOne > nav > ul > li > .second{
    color: #FAFF00;
    background-color: black;
    border: none;
}
.sectOne > nav > ul{
    float: right;
    padding-top: 40px;
    padding-right: 230px;
}
.sectOne > #align{
    padding-top: 70px;
    padding-left: 120px;
}
#align > #P_One{
    font-size: 55px;
    width: 580px;
    color: #FAFF00;
}
#align > #P_Two{
    color: white;
    width: 480;
    font-size: 28;
}
.line{
    width: 80;
    height: 3;
    background-image: linear-gradient(to right,  #FFAC12 , black);
    padding-left: 30;
    margin-right: 1000px;
    margin-top: 100px;
    margin-bottom: 0;
}
#left{
    margin-left: 183;
}
.sect2{
    padding-top: 40;
}
.sect2 > img{
    height: 430;
    float: left;
    padding-right: 100;
}
.sect2 > #cut{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    width: 300px;
    font-size: 20;
    padding-bottom: 150;
}
.sect2 > #cut > button{
    border-radius: 0px 10px 0px 0px;
    background-color: black;
    border: none;
    height: 40;
    width: 95;
}
.learn{
    color: #FAFF00;
}
span{
    color: #FFAC12;
}
.links{
    display: flex;
    float: right;
    margin-right: 100;
    font-size: 18;
}
.links > div{
    padding-right: 180;
    padding-top: 0;
    margin-bottom: 30;
    list-style-type: none;
    color: white;
}
.BKRND{
    background-color: black;
    height: 350px;
}
.grey{
    background-color: rgb(238, 236, 236);
}
.move{
    color: white;
    padding-top: 60;
    padding-left: 130;
    font-size: 30;
    padding-bottom: 0;
}
.icon{
    /* padding-left: ; */
}
i{
    font-size:25px;color: white;
    padding-left: 20;
    /* padding-top: ; */

}
.paragraph{
    display: flex;
  }
  #our{
      margin-left: 180;
      padding-top: 5;
  }
  .paragraph > p{
  padding: 10;
  padding-left: 20;
  padding-right: 30;
  border-top: 1px solid grey;
  border-right: 1px solid gray;
  height: 55;
  }
  .malto{
    padding-left: 50;
    padding-top: 40px;
    padding-right: 50;
    font-size: 16;
    text-align: center;
  }
  .MH{
    background-color: whitesmoke;
    border-radius: 0px 0px 25px 25px;
    width: 298;
    height: 180;
  }
  #WD{
    border-right: none;
  }
  .image{
    display: flex;
    flex-wrap: wrap;
    padding-left: 80;
    margin-left: 100;
    margin-right: 0;
    padding-top: 30;
  }
  .image > #push{
    padding-right: 60;
    padding-bottom: 30;
  }
  a:link{
      color: #FFAC12;

  }
  a:hover{
      color: blueviolet;
  }
